# Extração dos dados das estações e S4
___

Os dados de estações e S4 estão organizados em um servidor postgresql rodando na minha maquina local. Para permitir a utilização por outros, este notebook, além de extrair os dados do postgresql vai gerar um csv, contendo as informações sobre as estações brutas. Assim, como um dataframes pandas, um por estação, comprimido usando o formatado xz, o que forneceu a extensão "pkl.xz".

As estações válidas são aquelas que apresentam algum dado de S4, pois existem estações que não coletaram dado nenhum durante o período de aquisição.

Note assim, que este notebook não executará em um máquina onde os dados não estejam armazenados no postgresql.

In [1]:
import aacgmv2
import os
import sys
import psycopg2

import datetime as dt
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from mpl_toolkits.basemap import Basemap
from itertools import chain
from tqdm import tqdm

from utils import local_data

%matplotlib inline

In [2]:
force = False

In [3]:
conn = psycopg2.connect(database="data-research",
                        user="data-research",
                        password="data-research",
                        host="localhost",
                        port=5432)

In [4]:
path = "./data/stations.csv"

if os.path.exists(path) and not force:
    df_station = pd.read_csv(path)
else:    
    df_station = pd.read_sql_query('select * from station;', con=conn)
    df_station.to_csv(path)

df_station = df_station.drop(columns=["startoperation", "stopoperation", "alias", "network", "Unnamed: 0"])

In [5]:
query = '''select scintillation.eventdate, scintillation.s4 
           from scintillation inner join station on 
           scintillation.station = station.identificationstation 
           where station.identificationstation = '%s' 
           order by scintillation.eventdate; 
        '''
drop_aux = []
select_station_and_df_s4 = []
for i in tqdm(df_station.itertuples()):
    station = i.identificationstation
    path = "./data_s4/df_" + station + ".pkl.xz" 
    if not os.path.exists(path) or force:
        df_aux = pd.read_sql_query(query % station, con=conn)
        if len(df_aux) == 0:
            drop_aux.append(station)
        else:
            df_aux.to_pickle(path, compression='xz')

54it [00:00, 877.30it/s]

In [6]:
df_station = df_station[~df_station['identificationstation'].isin(drop_aux)]
df_station.to_pickle(os.path.join(local_data, 'df_station.pkl'))

In [7]:
df_station

,identificationstation,height,latitude,longitude,state,city,city_heigh,city_latitude,city_longitude
7,cpa,580.000,-22.410000,-45.000000,sp,cachoeira paulista,545.0,-22.67370,-44.9973
8,28,NaN,-3.100000,-59.976000,am,manaus,39.0,-3.10719,-60.0261
9,20,NaN,-20.497000,-54.615000,ms,campo grande,612.0,-20.44350,-54.6478
10,32,NaN,-20.497000,-54.615000,ms,campos grande,612.0,-20.44350,-54.6478
11,nta,0.000,-5.836162,-35.121000,rn,natal,38.0,-5.79448,-35.2110
12,sj2,593.440,-23.207600,-45.859800,sp,sao jose dos campos,593.0,-23.17910,-45.8872
14,16,NaN,-22.823000,-43.238000,rj,rio de janeiro (aeroporto galeão),20.0,-22.90350,-43.2096
15,22,NaN,-22.823000,-43.238000,rj,rio de janeiro (aeroporto galeão),20.0,-22.90350,-43.2096
16,cub,278.000,-15.555200,-56.069800,mt,cuiaba,180.0,-15.59890,-56.0949
17,dou,756.120,-22.110000,-54.550000,ms,dourados,448.0,-22.22180,-54.8064
18,24,NaN,-3.742000,-38.539000,ce,fortaleza,14.0,-3.71839,-38.5434
19,34,NaN,-22.823000,-43.238000,rj,rio de janeiro (aeroporto galeão),20.0,-22.90350,-43.2096
20,33,NaN,-22.789000,-45.220000,sp,guaratinguestá,526.0,-22.81620,-45.1935
21,ios,0.000,-14.470000,-39.100000,ba,ilheus,9.0,-14.79730,-39.0355
22,imp,134.720,-5.310000,-47.280000,ma,imperatriz,137.0,-5.52550,-47.4770
23,25,NaN,-22.318000,-46.329000,mg,inconfidentes,864.0,-22.31710,-46.3284
24,1,NaN,-22.823000,-41.785700,rj,macaé,7.0,-22.37170,-41.7857
25,11,NaN,-22.823000,-41.785700,rj,macaé,7.0,-22.37170,-41.7857
26,3,NaN,-10.200000,-48.312000,ro,palmas,260.0,-10.16890,-48.3317
27,pln,434.340,-9.230000,-40.300000,pe,petrolina,380.0,-9.39416,-40.5096
28,30,NaN,-21.989000,-47.334000,sp,"academia das forças aérias, pirassununga",625.0,-21.99600,-47.4268
29,4,NaN,-30.071000,-51.119000,rs,porto alegre,22.0,-30.02770,-51.2287
30,5,NaN,-22.120000,-51.407000,sp,presidente prudente,471.0,-22.12760,-51.3856
31,6,NaN,-22.120000,-51.407000,sp,presidente prudente,471.0,-22.12760,-51.3856
32,17,NaN,-22.120000,-51.407000,sp,presidente prudente,471.0,-22.12760,-51.3856
33,18,NaN,-22.120000,-51.407000,sp,presidente prudente,471.0,-22.12760,-51.3856
34,19,NaN,-22.120000,-51.407000,sp,presidente prudente,471.0,-22.12760,-51.3856
36,8,NaN,-23.207000,-45.859000,sp,são josé dos campos (univap),593.0,-23.17910,-45.8872
37,14,NaN,-23.207000,-45.859000,sp,são josé dos campos(inpe),593.0,-23.17910,-45.8872
39,29,NaN,-2.574000,-44.209000,ma,são luis do maranhão,17.0,-2.53073,-44.3068
40,afl,267.000,-9.900000,-55.900000,mt,alta floresta,264.0,-9.90000,-55.9000
41,31,NaN,-9.870000,-56.104000,mt,alta floresta,264.0,-9.90000,-55.9000
42,bhz,858.000,-19.868500,-43.954200,mg,belo horizonte,767.0,-19.81570,-43.9542
43,bov,69.180,2.833920,-60.695380,rr,boa vista,76.0,2.81954,-60.6714
47,26,NaN,-13.001000,-38.508000,ba,salvador,12.0,-12.97040,-38.5124
48,tfe,0.057,-3.180000,-64.440000,am,tefe,28.0,-3.32073,-64.7236
49,bsa,1050.000,-15.764200,-47.869400,df,brasilia,1130.0,-15.78010,-47.9292
50,pvh,1130.000,-8.490000,-63.550000,ro,porto velho,83.0,-8.76183,-63.9020
51,sta,110.100,-29.712591,-53.717206,rs,santa maria,139.0,-29.69140,-53.8008
52,15,NaN,-3.100000,-59.976000,am,manaus,39.0,-3.10719,-60.0261